@page "/"
@inject SingletonService singleton
@inject IRepository repository
<p>Singleton count: @singleton.Value</p>

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies">

    </MoviesList>
</div>

<button @onclick="AddNewMovie">Add new movie</button>

@code{
    List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        movies = repository.GetMovies();
    }

    string name = "Ryan";
    string clickText = "I've been clicked!(from Click text)";

    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
    }



    void WriteInLog()
    {
        Console.WriteLine("I've been clicked!(from method)");

    }
}

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@*<p>Hello, @StringUtilities.CustomToUpper(name)</p>

    <p>Let's add 2 + 2 = @(2 + 2)</p>

    <button @onclick ="@(()=>Console.WriteLine(clickText))">Click me</button>
    <button @onclick="@WriteInLog">Click me(from method)</button>*@

@*@for (int i = 0; i < movies.Count; i++)
    {
        <div style="background-color: @(i % 2 == 0 ? "blue" : "red")">
            <p>@(i + 1)) Title: <b>@movies[i].Title</b></p>
            <p>Release Date: <b>@movies[i].ReleaseDate.ToString("dd MM yyyy")</b></p>
        </div>
    }*@